{% extends "base.html" %}

{% block title %}Detail Libro{% endblock %}

{% block content %}

	<div class="media">
	  <img src="..." class="mr-3" alt="...">
	  <div class="media-body">
	    <h5 class="mt-0">Libro Detail</h5>
	   <label>
	   		Titulo: 
	   </label> {{ object.titulo }} <br>
	   <label>
	   		Autor: 
	   </label>
		{{ object.autor }} <br>
		<label>
			Año: 
		</label>
		{{ object.año }} <br>
		<label>
			Genero: 
		</label>
		{{ object.genero }} <br>
		<label>
			Num. Pag.: 
		</label>
		{{ object.numpaginas }} <br>
		
		<a href="{% url 'list' %}">| back |</a> 
	  
	  </div>
	</div>


{% endblock %}