{% extends "base.html" %}

{% block title %}Detail Peicula{% endblock %}

{% block content %}

	<div class="media">
	  <img src="..." class="mr-3" alt="...">
	  <div class="media-body">
	    <h5 class="mt-0">Pokemon Detail</h5>
	   <label>
	   		Titulo: 
	   </label> {{ object.titulo }} <br>
	   <label>
	   		Director: 
	   </label>
		{{ object.director }} <br>
		<label>
			Año: 
		</label>
		{{ object.año }} <br>
		<label>
			Genero: 
		</label>
		{{ object.genero }} <br>
		<label>
			Duracion: 
		</label>
		{{ object.duracion }} <br>
		<label>
			Sinopsis: 
		</label>
		{{ object.sinopsis }} <br>

		<a href="{% url 'list' %}">| back |</a> 
	  
	  </div>
	</div>


{% endblock %}