{% extends "base.html" %}

{% block title %}List Peliculas{% endblock %}

{% block content %}


	<table class="table">
		<th>Titulo</th>
		<th>Año</th>
		<th>Genero</th>
		<th> |</th>	
		<th>Actions</th>
		<th> |</th>	
		{% for peliculas in object_list %}
			<tr>
				<td>{{ peliculas.titulo }}</td>
				<td>{{ peliculas.año }}</td>
				<td>{{ peliculas.genero }}</td>
				<td><a href="{% url 'detail' peliculas.id %}"> deatil </a></td>
				<td><a href="{% url 'update' peliculas.id %}">update</a></td>
				<td><a href="{% url 'delete' peliculas.id %}">delete</a></td>
			</tr>
	{% endfor %}
	</table>
	


{% endblock %}