{% extends "base.html" %}

{% block title %}Detail Mascota{% endblock %}

{% block content %}

	<div class="media">
	  <img src="..." class="mr-3" alt="...">
	  <div class="media-body">
	    <h5 class="mt-0">Mascota Detail</h5>
	   <label>
	   		Nombre: 
	   </label> {{ object.nombre }} <br>
	   <label>
	   		Edad: 
	   </label>
		{{ object.edad }} <br>
		<label>
			Especie: 
		</label>
		{{ object.especie }} <br>
		<label>
			Sexo: 
		</label>
		{{ object.sexo }} <br>
		<label>
			Estado: 
		</label>
		{{ object.estado }} <br>
		<a href="{% url 'list' %}">| back |</a> 
	  
	  </div>
	</div>


{% endblock %}