{% extends "base.html" %}

{% block title %}List Mascota{% endblock %}

{% block content %}
<script type="text/javascript">

		$(document).ready(function(){
			console.log("Lista")
			$.ajax({
				url: "/mascota/api_list/",
				method: "GET",
				success: function(data){	
					$.each(data, function(key, value){
						console.log(key, value.nombre)
					})
				},
				error: function(data){
					console.log("Error")
					console.log(data)
				}
			})
		});

</script>
<h5>Numero de mascotas: {{countMas}}</h5>
	<table class="table">
		<th>Nombre</th>
		<th>Especie Type</th>
		<th>Vivo</th>
		<th> |</th>	
		<th>Actions</th>
		<th> |</th>	
		{% for mascota in mascotas %}
			<tr>
				<td>{{ mascota.nombre }}</td>
				<td>{{ mascota.especie }}</td>
				<td>{{ mascota.estado }}</td>
				<td><a href="{% url 'detail' mascota.id %}"> deatil </a></td>
				<td><a href="{% url 'update' mascota.id %}">update</a></td>
				<td><a href="{% url 'delete' mascota.id %}">delete</a></td>
			</tr>
	{% endfor %}
	</table>
	

{% endblock %}