{% extends "base.html" %}

{% block title %}List Mascota{% endblock %}

{% block content %}


	<table class="table">
		<th>Nombre</th>
		<th>Especie Type</th>
		<th>Vivo</th>
		<th> |</th>	
		<th>Actions</th>
		<th> |</th>	
		{% for mascota in object_list %}
			<tr>
				<td>{{ mascota.nombre }}</td>
				<td>{{ mascota.especie }}</td>
				<td>{{ mascota.estado }}</td>
				<td><a href="{% url 'detail' mascota.id %}"> deatil </a></td>
				<td><a href="{% url 'update2' mascota.pk %}">update</a></td>
				<td><a href="{% url 'delete2' mascota.pk %}">delete</a></td>
			</tr>
	{% endfor %}
	</table>
	


{% endblock %}