{% extends "base.html" %}

{% block title %}Detail Cancion{% endblock %}

{% block content %}

	<div class="media">
	  <img src="..." class="mr-3" alt="...">
	  <div class="media-body">
	    <h5 class="mt-0">Cancion Detail</h5>
	   <label>
	   		Titulo: 
	   </label> {{ object.titulo }} <br>
	   <label>
	   		Compositor: 
	   </label>
		{{ object.compositor }} <br>
		<label>
			Album: 
		</label>
		{{ object.album }} <br>
		<label>
			Duracion: 
		</label>
		{{ object.duracion}} <br>
		<label>
			Genero: 
		</label>
		{{ object.genero }} <br>

		<a href="{% url 'list' %}">| back |</a> 
	  
	  </div>
	</div>


{% endblock %}