{% extends "base.html" %}

{% block title %}List Canciones{% endblock %}

{% block content %}


	<table class="table">
		<th>Titulo</th>
		<th>Compositor</th>
		<th>Album</th>
		<th> |</th>	
		<th>Actions</th>
		<th> |</th>		
		{% for cancion in object_list %}
			<tr>
				<td>{{ cancion.titulo }}</td>
				<td>{{ cancion.compositor }}</td>
				<td>{{ cancion.album }}</td>
				<td><a href="{% url 'detail' cancion.id %}"> deatil </a></td>
				<td><a href="{% url 'update' cancion.id %}">update</a></td>
				<td><a href="{% url 'delete' cancion.id %}">delete</a></td>
			</tr>
	{% endfor %}
	</table>
	


{% endblock %}