{% extends "base.html" %}

{% block title %}List Cancion{% endblock %}

{% block content %}
<script type="text/javascript">

		$(document).ready(function(){
			console.log("Lista")
			$.ajax({
				url: "/cancion/api_list/",
				method: "GET",
				success: function(data){	
					$.each(data, function(key, value){
						console.log(key, value.titulo)
					})
				},
				error: function(data){
					console.log("Error")
					console.log(data)
				}
			})
		});

</script>
<h5>Numero de canciones: {{countCan}}</h5>
	<table class="table">
		<th>Titulo</th>
		<th>Compositor</th>
		<th>Album</th>
		<th> |</th>	
		<th>Actions</th>
		<th> |</th>	
		{% for cancion in cancions %}
			<tr>
				<td>{{ cancion.titulo }}</td>
				<td>{{ cancion.compositor }}</td>
				<td>{{ cancion.album }}</td>
				<td><a href="{% url 'detail' cancion.id %}"> deatil </a></td>
				<td><a href="{% url 'update' cancion.id %}">update</a></td>
				<td><a href="{% url 'delete' cancion.id %}">delete</a></td>
			</tr>
	{% endfor %}
	</table>
	

{% endblock %}