{% extends "base.html" %}

{% block title %}Detail Estudiante{% endblock %}

{% block content %}


	
	

	<div class="media">
	  <img src="..." class="mr-3" alt="...">
	  <div class="media-body">
	    <h5 class="mt-0">Estudiante Detail</h5>
	   <label>
	   		Nombre: 
	   </label> {{ object.nombre }} <br>
	   <label>
	   		Apellido: 
	   </label>
		{{ object.apellido }} <br>
		<label>
			Edad: 
		</label>
		{{ object.edad }} <br>
		<label>
			Correo: 
		</label>
		{{ object.correo }} <br>
		<label>
			Carrera: 
		</label>
		{{ object.carrera }} <br>
		<label>
			Semestre: 
		</label>
		{{ object.seestre }} <br>
		<label>Status: </label>
		{{ object.status }}<br>

		<a href="{% url 'list' %}">| back |</a> 
	  
	  </div>
	</div>


{% endblock %}