{% extends "base.html" %}

{% block title %}ListPokemons{% endblock %}

{% block content %}

	<table class="table">
		<th>Estudiante Nombre</th>
		<th>Estudiante Apellido</th>
		<th>Carrera</th>
		<th> |</th>	
		<th>Actions</th>
		<th> |</th>	
		{% for objeto in object_list %}
			<tr>
				<td>{{ objeto.nombre }}</td>
				<td>{{ objeto.apellido }}</td>
				<td>{{ objeto.carrera }}</td>
				<td><a href="{% url 'detail' objeto.id %}"> deatil </a></td>
				<td><a href="{% url 'update2' objeto.pk %}">update</a></td>
				<td><a href="{% url 'delete2' objeto.pk %}">delete</a></td>
			</tr>
	{% endfor %}
	</table>
	


{% endblock %}