{% extends "base.html" %}

{% block title %}List Estudiante{% endblock %}

{% block content %}

<!-- Obtener contenido a traves de la apai creada -->
<script type="text/javascript">

		$(document).ready(function(){
			console.log("Lista")
			$.ajax({
				url: "/estudiante/api_list/",
				method: "GET",
				success: function(data){	
					$.each(data, function(key, value){
						console.log(key, value.nombre)
					})
				},
				error: function(data){
					console.log("Error")
					console.log(data)
				}
			})
		});

</script>

<h5>Numero de estudiantes: {{countEst}}</h5>
	<table class="table">
		<th>Estudiante Nombre</th>
		<th>Estudiante Apellido</th>
		<th>Carrera</th>
		<th> |</th>	
		<th>Actions</th>
		<th> |</th>	
		{% for objeto in objetos %}
			<tr>
				<td>{{ objeto.nombre }}</td>
				<td>{{ objeto.apellido }}</td>
				<td>{{ objeto.carrera }}</td>
				<td><a href="{% url 'detail' objeto.id %}"> deatil </a></td>
				<td><a href="{% url 'update' objeto.id %}">update</a></td>
				<td><a href="{% url 'delete' objeto.id %}">delete</a></td>
			</tr>
	{% endfor %}
	</table>
	

{% endblock %}