{% extends "base.html" %}

{% block title %}Index XD...{% endblock %}

{% block content %}
<h1>Proyecto 1</h1>
{{message}}
<form  method="POST">{% csrf_token %}
	{{ form }}
	<button type = 'submit' class=" btn btn-outline-primary" >Login</button>
	<button type = 'reset' class=" btn btn-outline-warning" >Reset</button>
</form>
	
{% endblock %}