{% extends "base.html" %}

{% block title %}Detail Auto{% endblock %}

{% block content %}


	
	

	<div class="media">
	  <img src="..." class="mr-3" alt="...">
	  <div class="media-body">
	    <h5 class="mt-0">Auto Detail</h5>
	   <label>
	   		Matricula: 
	   </label> {{ object.matricula }} <br>
	   <label>
	   		Marca: 
	   </label>
		{{ object.marca }} <br>
		<label>
			Año: 
		</label>
		{{ object.año }} <br>
		<label>
			Color: 
		</label>
		{{ object.color }} <br>
		<label>
			Tipo: 
		</label>
		{{ object.tipo }} <br>
		<label>
			Estatus: 
		</label>
		{{ object.status }} <br>
		

		<a href="{% url 'list' %}">| back |</a> 
	  
	  </div>
	</div>


{% endblock %}