{% extends "base.html" %}

{% block title %}List Auto{% endblock %}

{% block content %}


	<table class="table">
		<th>Matricula</th>
		<th>Marca</th>
		<th>Año</th>
		<th> |</th>	
		<th>Actions</th>
		<th> |</th>	
		{% for auto in object_list %}
			<tr>
				<td>{{ auto.matricula }}</td>
				<td>{{ auto.marca }}</td>
				<td>{{ auto.año }}</td>
				<td><a href="{% url 'detail' auto.id %}"> deatil </a></td>
				<td><a href="{% url 'update' auto.id %}">update</a></td>
				<td><a href="{% url 'delete' auto.id %}">delete</a></td>
			</tr>
	{% endfor %}
	</table>
	


{% endblock %}