{% extends "base.html" %}

{% block title %}Detail Computadora{% endblock %}

{% block content %}

	<div class="media">
	  <img src="..." class="mr-3" alt="...">
	  <div class="media-body">
	    <h5 class="mt-0">Computadora Detail</h5>
	   <label>
	   		Modelo: 
	   </label> {{ object.modelo }} <br>
	   <label>
	   		Marca: 
	   </label>
		{{ object.marca }} <br>
		<label>
			Procesador: 
		</label>
		{{ object.procesador }} <br>
		<label>
			Ram: 
		</label>
		{{ object.ram }} <br>
		<label>
			Disco: 
		</label>
		{{ object.disco }} <br>
		<label>
			Estado: 
		</label>
		{{ object.estado }} <br>
		<a href="{% url 'list' %}">| back |</a> 
	  
	  </div>
	</div>


{% endblock %}