{% extends "base.html" %}

{% block title %}List Computadoras{% endblock %}

{% block content %}
<script type="text/javascript">

		$(document).ready(function(){
			console.log("Lista")
			$.ajax({
				url: "/computadora/api_list/",
				method: "GET",
				success: function(data){	
					$.each(data, function(key, value){
						console.log(key, value.modelo)
					})
				},
				error: function(data){
					console.log("Error")
					console.log(data)
				}
			})
		});

</script>
<h5>Numero de computadoras: {{countComp}}</h5>
	<table class="table">
		<th>Modelo</th>
		<th>Marca</th>
		<th>Estado</th>
		<th> |</th>	
		<th>Actions</th>
		<th> |</th>	
		{% for computadora in computadoras %}
			<tr>
				<td>{{ computadora.modelo}}</td>
				<td>{{ computadora.marca }}</td>
				<td>{{ computadora.estado }}</td>
				<td><a href="{% url 'detail' computadora.id %}"> deatil </a></td>
				<td><a href="{% url 'update' computadora.id %}">update</a></td>
				<td><a href="{% url 'delete' computadora.id %}">delete</a></td>
			</tr>
	{% endfor %}
	</table>
	

{% endblock %}