{% extends "base.html" %}

{% block title %}List Computadoras{% endblock %}

{% block content %}


	<table class="table">
		<th>Modelo</th>
		<th>Marca</th>
		<th>Estado</th>
		<th> |</th>	
		<th>Actions</th>
		<th> |</th>	
		{% for computadora in object_list %}
			<tr>
				<td>{{ computadora.modelo}}</td>
				<td>{{ computadora.marca }}</td>
				<td>{{ computadora.estado }}</td>
				<td><a href="{% url 'detail' computadora.id %}"> deatil </a></td>
				<td><a href="{% url 'update2' computadora.pk %}">update</a></td>
				<td><a href="{% url 'delete2' computadora.pk %}">delete</a></td>
			</tr>
	{% endfor %}
	</table>
	


{% endblock %}