{% extends "base.html" %}

{% block title %}Detail Pokemon{% endblock %}

{% block content %}

	<div class="media">
	  <img src="..." class="mr-3" alt="...">
	  <div class="media-body">
	    <h5 class="mt-0">Pokemon Detail</h5>
	   <label>
	   		Pokemon Name: 
	   </label> {{ object.nombre }} <br>
	   <label>
	   		Pokemon Type: 
	   </label>
		{{ object.tipo }} <br>
		<label>
			Pokemon Level: 
		</label>
		{{ object.nivel }} <br>
		<label>
			Pokemon Exp: 
		</label>
		{{ object.experiencia }} <br>
		<label>
			Pokemon Status: 
		</label>
		{{ object.estado }} <br>
		
		<a href="{% url 'list' %}">| back |</a> 
	  
	  </div>
	</div>


{% endblock %}