{% extends "base.html" %}

{% block title %}ListPokemons{% endblock %}

{% block content %}


	<table class="table">
		<th>Nombre</th>
		<th>Tipo</th>
		<th>Estado</th>
		<th> |</th>	
		<th>Actions</th>
		<th> |</th>	
		{% for pokemon in object_list %}
			<tr>
				<td>{{ pokemon.nombre }}</td>
				<td>{{ pokemon.tipo }}</td>
				<td>{{ pokemon.estado }}</td>

				<td><a href="{% url 'detail' pokemon.id %}"> deatil </a></td>
				<td><a href="{% url 'update' pokemon.id %}">update</a></td>
				<td><a href="{% url 'delete' pokemon.id %}">delete</a></td>
			</tr>
	{% endfor %}
	</table>
	


{% endblock %}