{% extends "base.html" %}

{% block title %}ListPokemons{% endblock %}

{% block content %}
<script type="text/javascript">

		$(document).ready(function(){
			console.log("Lista")
			$.ajax({
				url: "/pokemon/api_list/",
				method: "GET",
				success: function(data){	
					$.each(data, function(key, value){
						console.log(key, value.nombre)
					})
				},
				error: function(data){
					console.log("Error")
					console.log(data)
				}
			})
		});

</script>
<h5>Numero de pokemons: {{countPok}}</h5>
	<table class="table">
		<th>Nombre</th>
		<th>Tipo</th>
		<th>Estado</th>
		<th> |</th>	
		<th>Actions</th>
		<th> |</th>	
		{% for pokemon in pokemons %}
			<tr>
				<td>{{ pokemon.nombre }}</td>
				<td>{{ pokemon.tipo }}</td>
				<td>{{ pokemon.estado }}</td>

				<td><a href="{% url 'detail' pokemon.id %}"> deatil </a></td>
				<td><a href="{% url 'update' pokemon.id %}">update</a></td>
				<td><a href="{% url 'delete' pokemon.id %}">delete</a></td>
			</tr>
	{% endfor %}
	</table>
	

{% endblock %}