{% extends "base.html" %}

{% block title %}Detail Animal{% endblock %}

{% block content %}


	
	

	<div class="media">
	  <img src="..." class="mr-3" alt="...">
	  <div class="media-body">
	    <h5 class="mt-0">Pokemon Animal</h5>
	   <label>
	   		Nombre: 
	   </label> {{ object.nombre }} <br>
	   <label>
	   		Tipo: 
	   </label>
		{{ object.tipo }} <br>
		<label>
			Ecossitema: 
		</label>
		{{ object.tipo }} <br>
		<label>
			Alimento: 
		</label>
		{{ object.alimento }} <br>
		<label>
			Extinto: 
		</label>
		{{ object.extinto }} <br>
		
		<a href="{% url 'list' %}">| back |</a> 
	  
	  </div>
	</div>


{% endblock %}