{% extends "base.html" %}

{% block title %}List Animal{% endblock %}

{% block content %}
<script type="text/javascript">

		$(document).ready(function(){
			console.log("Lista")
			$.ajax({
				url: "/animal/api_list/",
				method: "GET",
				success: function(data){	
					$.each(data, function(key, value){
						console.log(key, value.nombre)
					})
				},
				error: function(data){
					console.log("Error")
					console.log(data)
				}
			})
		});

</script>
<h5>Numero de animales: {{countAnim}}</h5>
	<table class="table">
		<th>Nombre</th>
		<th>Tipo</th>
		<th>Estado</th>
		<th> |</th>	
		<th>Actions</th>
		<th> |</th>	
		{% for animal in animals %}
			<tr>
				<td>{{ animal.nombre }}</td>
				<td>{{ animal.tipo }}</td>
				<td>{{ animal.extinto }}</td>
				<td><a href="{% url 'detail' animal.id %}"> deatil </a></td>
				<td><a href="{% url 'update' animal.id %}">update</a></td>
				<td><a href="{% url 'delete' animal.id %}">delete</a></td>
			</tr>
	{% endfor %}
	</table>
	

{% endblock %}