{% extends "base.html" %}

{% block title %}List Animal{% endblock %}

{% block content %}


	<table class="table">
		<th>Nombre</th>
		<th>Tipo</th>
		<th>Estado</th>
		<th> |</th>	
		<th>Actions</th>
		<th> |</th>	
		{% for animal in object_list %}
			<tr>
				<td>{{ animal.nombre }}</td>
				<td>{{ animal.tipo }}</td>
				<td>{{ animal.extinto }}</td>
				<td><a href="{% url 'detail' animal.id %}"> deatil </a></td>
				<td><a href="{% url 'update' animal.id %}">update</a></td>
				<td><a href="{% url 'delete' animal.id %}">delete</a></td>
			</tr>
	{% endfor %}
	</table>
	


{% endblock %}