{% extends "base.html" %}

{% block title %}Detail Celular{% endblock %}

{% block content %}	

	<div class="media">
	  <img src="..." class="mr-3" alt="...">
	  <div class="media-body">
	    <h5 class="mt-0">Celular Detail</h5>
	   <label>
	   		Modelo: 
	   </label> {{ object.modelo }} <br>
	   <label>
	   		Marca: 
	   </label>
		{{ object.marca }} <br>
		<label>
			Año: 
		</label>
		{{ object.año }} <br>
		<label>
			SO: 
		</label>
		{{ object.so }} <br>
		<label>
			Camaras: 
		</label>
		{{ object.camaras }} <br>
		<label>
			Compañias: 
		</label>
		{{ object.compañias }} <br>

		<a href="{% url 'list' %}">| back |</a> 
	  
	  </div>
	</div>


{% endblock %}