{% extends "base.html" %}

{% block title %}List Celular{% endblock %}

{% block content %}


	<table class="table">
		<th>Modelo</th>
		<th>Marca</th>
		<th>Compañias</th>
		<th> |</th>	
		<th>Actions</th>
		<th> |</th>	
		{% for celular in object_list %}
			<tr>
				<td>{{ celular.modelo }}</td>
				<td>{{ celular.marca }}</td>
				<td>{{ celular.compañias }}</td>
				<td><a href="{% url 'detail' celular.id %}"> deatil </a></td>
				<td><a href="{% url 'update' celular.id %}">update</a></td>
				<td><a href="{% url 'delete' celular.id %}">delete</a></td>
			</tr>
	{% endfor %}
	</table>
	


{% endblock %}