{% extends "base.html" %}

{% block title %}List Celular{% endblock %}

{% block content %}
<script type="text/javascript">

		$(document).ready(function(){
			console.log("Lista")
			$.ajax({
				url: "/celular/api_list/",
				method: "GET",
				success: function(data){	
					$.each(data, function(key, value){
						console.log(key, value.modelo)
					})
				},
				error: function(data){
					console.log("Error")
					console.log(data)
				}
			})
		});

</script>
<h5>Numero de celulares: {{countCel}}</h5>
	<table class="table">
		<th>Modelo</th>
		<th>Marca</th>
		<th>Compañias</th>
		<th> |</th>	
		<th>Actions</th>
		<th> |</th>	
		{% for celular in celulars %}
			<tr>
				<td>{{ celular.modelo }}</td>
				<td>{{ celular.marca }}</td>
				<td>{{ celular.compañias }}</td>
				<td><a href="{% url 'detail' celular.id %}"> deatil </a></td>
				<td><a href="{% url 'update' celular.id %}">update</a></td>
				<td><a href="{% url 'delete' celular.id %}">delete</a></td>
			</tr>
	{% endfor %}
	</table>
	

{% endblock %}